<section>
    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
    
        <form class="example-form">
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="enter email"
              name="email"
              [(ngModel)]="email"
              required>
           
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <input matInput placeholder="enter Password"
              name="password"
              [(ngModel)]="password"
              required>
            </mat-form-field>
          </mat-card-content>
          <button mat-raised-button color="accent" (click)="onLogin()">Log in</button>
        </form>
      </mat-card>
</section>


